/* футер*/

.footer {
    .footer_top{
        margin-bottom: 74px;
        
        img{
            @media screen and (max-width: 991px){
                display: block;
                margin: 0 auto;
            }
        }


        .row{
            @media screen and (max-width: 991px){
                row-gap: 24px;
                text-align: center;
            }
        }

        .footer__links {
            text-align: center;
    
            .footer__links-item-link {
                font-size: 24px;
                color: black;
            }
        }
    
        .footer__info {
            text-align: right;
            @media screen and (max-width: 991px){
                text-align: center;
            }
        }
    }
   
    .footer__copyrite {
        margin-top: 74px;
        margin-bottom: 12px;
        font-size: 14px;
        text-align: center;
    }
}


