@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, ul {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #0C2836;
}

a {
  font-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: var(--dark);
}

/*настройка основных стилей*/
:root {
  --box-shadow: 0 0 35px rgba(12, 40, 34, 0.12);
  --dark: #0c2836;
}

h1 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 800;
  margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 40px;
}

/*header*/
.navigation {
  padding-top: 35px;
  margin-bottom: 72px;
}

/*промо*/
.promo {
  margin-bottom: 100px;
}
@media screen and (max-width: 991px) {
  .promo {
    margin-bottom: 0px;
  }
}
.promo p {
  margin-bottom: 262px;
}
@media screen and (max-width: 991px) {
  .promo p {
    margin-bottom: 285px;
  }
}
@media screen and (max-width: 768px) {
  .promo p {
    margin-bottom: 20px;
  }
}
.promo h1 {
  /*line-height: 120%;
  font-weight: 800;
  margin-bottom: 28px;*/
}
.promo h1 span {
  color: #FFA239;
}
.promo .promo-bg {
  background: url("../../png/background.png") center no-repeat;
  background-size: contain;
}
@media screen and (max-width: 991px) {
  .promo .promo-bg {
    height: 670px;
  }
}
@media screen and (max-width: 768px) {
  .promo .promo-bg {
    background: none;
    /*height: auto;*/
  }
}
.promo .promo-bg .promo-bg-md {
  display: none;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .promo .promo-bg .promo-bg-md {
    display: block;
  }
}
.promo .promo__list li {
  display: flex;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 8px;
}
.promo .promo__list li:last-child {
  margin-bottom: 0;
}

/*проекты*/
.projects {
  margin-bottom: 100px;
}
.projects .row {
  row-gap: 50px;
}
.projects .projects__card img {
  margin-bottom: 12px;
  width: 100%;
}
.projects .projects__card a {
  color: #ffa239;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 12px;
}
.projects .projects__card a:hover {
  text-decoration: underline;
}
.projects .projects__card p {
  font-size: 16px;
  font-weight: 400;
}

/*технологии*/
.teach {
  margin-bottom: 100px;
}
.teach .row {
  row-gap: 24px;
}
.teach .teach__card {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 0px 35px 2px rgba(12, 40, 54, 0.1215686275);
  padding: 55px 12px 24px 12px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .teach .teach__card {
    padding-top: 44px;
  }
}
.teach .teach__card p {
  font-size: 18px;
  color: #8a99a8;
  padding-top: 25px;
  vertical-align: bottom;
}

/*фидбек*/
.feedback {
  margin-bottom: 100px;
}
.feedback .feedback__text {
  text-align: right;
  margin-right: 37px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .feedback .feedback__text {
    text-align: center;
    margin-right: 0;
    margin-bottom: 40px;
    display: block;
  }
}
.feedback h2 {
  margin-bottom: 0;
}
.feedback p {
  font-size: 24px;
  margin-right: 8px;
  font-weight: 400;
}
@media screen and (max-width: 1199px) {
  .feedback p {
    text-align: center;
    margin: 0;
  }
}

.form {
  background: white;
  box-shadow: var(--box-shadow);
  padding: 24px;
  border-radius: 15px;
}
.form label {
  display: block;
}
.form textarea, .form input {
  display: block;
  padding: 8px 12px;
  border: 1px solid #d9e2eb;
  border-radius: 10px;
  min-height: 40px;
  overflow: hidden;
  outline: none;
  width: 100%;
}
.form textarea::-moz-placeholder, .form input::-moz-placeholder {
  color: #8A99A8;
}
.form textarea::placeholder, .form input::placeholder {
  color: #8A99A8;
}
@media screen and (max-width: 424px) {
  .form textarea, .form input {
    margin-bottom: 16px;
  }
}
.form .form__group {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .form .form__group {
    display: block;
  }
  .form .form__group input {
    margin-bottom: 10px;
  }
}
.form .btn-prymary {
  padding: 9px 60px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #fb8501 -0.07%, #ffb703 100%);
  transition: transform 200ms, box-shadow 200ms;
}
.form .btn-prymary:focus {
  transform: scale(0.95);
}
.form .btn-prymary:hover {
  box-shadow: 0 0 10px 0 #ffb003;
}

/* футер*/
.footer .footer_top {
  margin-bottom: 74px;
}
@media screen and (max-width: 991px) {
  .footer .footer_top img {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .footer .footer_top .row {
    row-gap: 24px;
    text-align: center;
  }
}
.footer .footer_top .footer__links {
  text-align: center;
}
.footer .footer_top .footer__links .footer__links-item-link {
  font-size: 24px;
  color: black;
}
.footer .footer_top .footer__info {
  text-align: right;
}
@media screen and (max-width: 991px) {
  .footer .footer_top .footer__info {
    text-align: center;
  }
}
.footer .footer__copyrite {
  margin-top: 74px;
  margin-bottom: 12px;
  font-size: 14px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */